includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/test/testsTestKernelTestDebugContainer.xml
        console_application_loader: %rootDir%/../../../tests/console_application_loader.php
    level: 3
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            path: %rootDir%/../../../src/Mcfedr/QueueManagerBundle/DependencyInjection/Configuration.php
        - '#Class Pheanstalk\\PheanstalkInterface not found#'
        - '#Method Mcfedr\\QueueManagerBundle\\.+?::getEntityManager\(\) should return Doctrine\\ORM\\EntityManager but returns Doctrine\\Persistence\\ObjectManager#'
    reportUnmatchedIgnoredErrors: false
